*{
  font-family: Arial;
  text-align: center;
}

.container{
  margin-top: 5rem;
  box-shadow: 5px 5px 25px blue;
  display: inline-block;
  /* padding: 40px; */
  padding: 3rem;
  background-color: antiquewhite;
}

#cal-input, #cal-selecet, #cal-convert, #cal-select{
  padding: 10px 5px;
  font-size: 1.1rem;
  border-radius: 10px;
  margin-left: 15px;

}

#cal-celcius, #cal-feran{
  border: none;
  background-color: brown;
  color: white;
  padding: 10px;
}

#cal-convert{
    border: none;
    background-color: rgb(5, 141, 5);
    width: 130px;
    height: 50px;
    color: white;
}

#cal-display{
  margin-top: 40px;
}


    /* BreakPoint */

  @media(min-width: 275px) and (max-width: 700px){
    #cal-select{
      margin: 3rem 0;
    }
  }